<!DOCTYPE html>
<html layout:decorator="layout/default" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Fridge</title>
  <script th:inline="javascript" th:if="${!#strings.isEmpty(registerMessage)}">
  alert([[${registerMessage}]]);
  </script>
</head>
<body>
    <div layout:fragment="content">
	    <div class="card text-center">
	        <div class="card-header">
	            <ul class="nav nav-tabs card-header-tabs">
	                <li class="nav-item" th:each="fridge,iterStat : ${fridgeList}">
		                <a th:class="${iterStat.first}? 'nav-link active' : 'nav-link'"  href="/fridges/1" th:href="@{/fridges/{id}(id=${fridge.id})}" th:text="${fridge.nickname}">myFridge</a>                
		            </li>
		            <li class="nav-item">
		              <a class="nav-link text-dark" role="button" href="/fridges/add" th:href="@{/fridges/add}" id="btnCreateFridge">
		                  <i class="fas fa-plus"></i>
		              </a>
		            </li>
	            </ul>
	        </div>
	        <div th:each="fridge,iterStat : ${fridgeList}" th:if="${iterStat.first and not #lists.isEmpty(fridge.foods)}">
                <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">식품명</th>
                    <th scope="col">수량</th>
                    <th scope="col">유통기한</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="food, foodStat : ${fridge.foods}">
                    <td th:text="${foodStat.count}">number</td>
                    <td><a class="btn btn-sm btn-outline-dark" th:href="@{/foods/{id}(id=${food.id})}" th:text="${food.name}">name</a></td>
                    <td th:text="${food.quantity}">1</td>
                    <td th:text="${#dates.format(food.expiryDate, 'yyyy-MM-dd')}">2018-09-09</td>
                    <td>
                        <a class="btn btn-dark btn-sm" role="button" href="/foods/delete/1" th:href="@{/foods/delete/{id}(id=${food.id})}">
                            <i class="fas fa-minus"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <a class="btn btn-secondary btn-block" role="button" href="/foods/add" th:href="@{/foods/add(fridge.id=${fridge.id})}" id="btnRegistrationFood">식품 추가하기</a>
                    </td>
                </tr>
                </tfoot>
                </table>
	        </div>
	        <div class="card-body" th:each="fridge,iterStat : ${fridgeList}" th:if="${iterStat.first and #lists.isEmpty(fridge.foods)}">
                <h5 class="card-title">냉장고를 채워주세요.</h5>
                <p class="card-text">식품 추가하기 버튼을 눌러서 보관하실 식품을 추가해보세요!</p>
                <a class="btn btn-primary btn-lg" role="button" href="/foods/add" th:href="@{/foods/add(fridge.id=${fridge.id})}" id="btnRegistrationFood">식품 추가하기</a>
            </div>
	    </div>
    </div>
</body>
</html>