<!DOCTYPE html>
<html layout:decorator="layout/default" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Fridge</title>
</head>
<body>
    <div layout:fragment="content" class="container">
	  <h2>냉장고 상세</h2>
	  <form th:action="@{/fridges/{id}(id=${fridgeCommand.id})}" th:object="${fridgeCommand}" th:method="put">
		<div th:if="${#fields.hasErrors('*')}">
		    <ul>
		        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
		    </ul>
		</div>
	    <label for="nickname">이름: 
		    <input type="text" th:field="*{nickname}" />
	    </label><br/>
	    <button type="submit">저장</button>
	    <a href="/fridges/delete/1" th:href="@{/fridges/delete/{id}(id=*{id})}">삭제</a>
	  </form>
    </div>
</body>
</html>
