<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{templates/default}">
<head>
  <title>Food</title>
</head>
<body>
    <div layout:fragment="content">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Fridge</li>
        </ol>
      </nav>
      
      <div class="row">
        <div class="col-md-12">
          <h4 class="mb-3">식품 추가하기</h4>
          <form class="needs-validation" th:action="@{/fridges/{fridgeId}/foods/add(fridgeId=*{fridgeId})}" th:object="${food}" th:method="post" novalidate="novalidate">
            <input type="hidden" th:field="*{fridgeId}" />
            <div class="mb-3">
              <label for="name">식품명:</label> 
              <input type="text" class="form-control typeahead" th:field="*{name}" th:errorclass="is-invalid" autocomplete="off" />
              <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">식품명을 올바르게 입력해주세요.</div>
            </div>
            <div class="mb-3">
              <label for="quantity">수량:</label>
              <input type="text" class="form-control" th:field="*{quantity}" th:errorclass="is-invalid" />
              <div class="invalid-feedback" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">수량을 올바르게 입력해주세요.</div>
            </div>
            <div class="mb-3">
              <label for="expiryDate">유통기한:</label>
              <input type="date" class="form-control" th:field="*{expiryDate}" th:errorclass="is-invalid" />
              <div class="invalid-feedback" th:if="${#fields.hasErrors('expiryDate')}" th:errors="*{expiryDate}">유통기한을 올바르게 입력해주세요.</div>
            </div>
            <hr class="mb-4" />
            <button class="btn btn-primary btn-lg btn-block" type="submit">변경내역 저장</button>
          </form>
        </div>
      </div>
    </div>
    <div layout:fragment="javascript">
    <script>
        $(function() {
            $(".typeahead").typeahead({
                source: function(query, process) {
                    return $.get("/searchProductName", {query: query}, function(data) {
                        return process(data);
                    });
                }
            });
        });
    </script>
    </div>
</body>
</html>
